.masthead {

  display: block;
  width:100%;
  overflow: hidden;
  height: 36vw;

  &.credits {
      background:black url(../i/mastheads/credits-bg.jpg) no-repeat;
  }

  @media (max-width: 768px) {
    height: 270px;
  }

  video {
    position: relative;
    display: block;
    min-width: 100%;
    width: 100%;
    z-index: -1000;
    overflow: hidden;
    background:transparent url(../i/mastheads/home-bg.png) no-repeat;
    background-size:100%;
    @media (max-width: 768px) {
      height:auto;
    }
  }

  &.home, &.credits {
    border-bottom: 1px solid #aaa;

    h1, h4 {
      position: absolute;
      z-index:2;
      color:$white;
      width:100%;
      text-shadow: 1px 1px $greigh-darker;
      span {
        padding-left:10px;
        padding-right:10px;
        background: rgba(0,0,0,.55);
      }
    }

    h1 {
      top:100px;
      line-height: 135%;
      @media (max-width: 768px) {
        top: 120px;
        font-size: 250%;
        text-align: center;
      }
    }
    h4 {
      top:175px;
      font-weight: 200;
      font-size: 150%;
      @media (max-width: 768px) {
        top: 195px;
        font-size: 200%;
        text-align: center;
      }

    }
  }

	&.subpage {
		height:14vw;
    @media (max-width: 768px) {
      height:16vw;
    }

    $types: (
      (microsoft),
      (parc),
      (sfgiants),
      (loggly),
      (npm),
      (swy),
      (walmart),
      (united),
      (canada),
      (sf2024),
      (verizon)
    );

    @each $item in $types {
      &.#{$item}:before {
        background-image: url(../i/#{$item}/masthead.png);
          @media (max-width: 768px) {
            background-image: url(../i/#{$item}/masthead-small.png);
          }
        }
      }

    &:before {
        content: '';
        background-size: 120%;
        background-position-y: -50px;
        background-position-x: -15px;
        filter: blur(5px);
        z-index: -9999;
        position: absolute;
        height: 15vw;
        width: 100%;
        top:50px;
        margin-top:-10px;
        overflow: hidden;
        @media (max-width: 768px) {
          height:20vw;
        }
      }
    }

    &.projects {
      height: 25vw;
      @media (max-width: 768px) {
        height:35vw;
      }

      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        font-size: 300%;
        top: 10vw;

        @media (min-width: 768px) {
          font-size:82px;
        }
        @media (max-width: 768px) {
          top: 10vw;
          font-size:64px;
        }
      }
        &:before {
        height: 25vw;
        background-image: url(../i/mastheads/projects.jpg);
        background-position-y: -150px;
        background-size: 100%;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        border-bottom: 1px solid #333;
        @media (max-width: 768px) {
          height: 35vw;
          background-position-y: 0px;
        }
      }
    }

    &.talks {
      height: 25vw;
      background-position-y:0px;

      @media (max-width: 768px) {
        height:30vw;
      }

      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        font-size: 300%;
        top: 10vw;

        @media (min-width: 768px) {
          font-size:82px;
        }
        @media (max-width: 768px) {
          top: 10vw;
          font-size:64px;
        }
      }
        &:before {
        height: 25vw;
        background-image: url(../i/mastheads/talks-masthead.jpg);
        background-position-y: -40px;
        background-size: 100%;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        border-bottom: 1px solid #333;
        @media (max-width: 768px) {
          height: 30vw;
          background-position-y: 0px;
        }
      }
    }

    &.microsoft {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(255,0,192,.25);
        }
      }
      &:before {
        background-position-y: -50px;
        background-size: 105%;
      }
    }


    &.sfgiants {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(255,114,0,.5);
        }
      }
      &:before {
        background-position-y:0px;
      }
    }

    &.loggly {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(57,29,2,.5);
        }
      }
      &:before {
        background-position-y:-140px;
        background-size: 125%;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
      }
    }

    &.parc {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(123,123,123,.75);
        }
      }
      &:before {
        background-position-y:-140px;
        background-size: 125%;
      }
    }


    &.npm {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(255,0,0,.5);
        }
      }
      &:before {
        background-position-y:-10%;
        background-size:50%;
        opacity: .3;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
      }
    }

    &.swy {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(31,69,5,.5);
        }
      }
      &:before {
        background-position-y:-50px;
        background-size: 100%;
      }
    }

    &.walmart {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(0,0,255,.25);
        }
      }
      &:before {
        background-position-y:-140px;
        background-size: 125%;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        @media (max-width: 768px) {
          background-position-y:0px;
        }
      }
    }

    &.verizon {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(255,0,0,.5);
        }
      }
      &:before {
        background-size: 105%;
        background-position-x:-45px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
      }
    }

    &.united {
      h1, h6 {
        color:$white;
        text-shadow: 1px 1px $greigh-darker;
        margin-bottom:5px;
        span {
          padding-left:10px;
          padding-right:10px;
          background: rgba(40,5,69,.5);
        }
      }
      &:before {
        background-position-y:-25%;
        background-size: 60%;
        opacity: .3;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
      }
    }


  h1 {
    font-size: 5vw;
    font-weight: 200;
    position: relative;
    z-index: 0;
  }

  h6 {
    font-size: 1.5vw;
    font-weight: 200;
    @media (max-width: 768px) {
      font-size:14px;
    }
  }
}


.section {
  margin: 20px auto;
}

.skillset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  padding-bottom:60px;
  border-bottom: 1px dotted $greigh-mid;

  .skill {
    flex: 1 0 auto;
    display: flex;
    align-self: auto;
    width: 100%;
    height:auto;
    border-bottom:1px solid #ccc;
    &.last {
      border-bottom:none;
    }
    &.left {
      flex-direction: row;
      .deets {
        padding-right:40px;
        @media (max-width: 768px) {
          padding-left:0px;
        }
      }
    }

    &.right {
      flex-direction: row-reverse;
      .deets {
        padding-left:40px;
        @media (max-width: 768px) {
          padding-left:0px;
        }
      }
    }

    .deets {
      flex: 3 0 auto;
      margin:4vw 0px;
      display: inline-block;
      float: left;
      width: 60%;
      font-size: 115%;
      @media (max-width: 768px) {
        flex: 1 0 0 auto;
        width: 100%;
        text-align: center;
      }
    }

    h3 {
      font-size: 175%;
      width: 100%;
      margin-bottom: 20px;
      margin-top:0px;
    }

    .thumb {
      flex: 1 0 auto;
      max-height:320px;
      overflow: hidden;
      @media (max-width: 768px) {
        display: none;
      }

      img {
          max-width: 100%;
          width: 100%;
          margin-top:20px;
          // /* corrects small inline gap at bottom of containing div */
          // display: block;
          // width: 80%; /* corrects obscure Firefox bug */
          // max-width: 80%;
          // /* just in case, to force correct aspect ratio */
          // height: auto !important;
          // display: block; /* corrects small inline gap at bottom of containing div */
          // width: 100%; /* corrects obscure Firefox bug */
          // max-width: 80%;
          // /* just in case, to force correct aspect ratio */
          // height: auto !important;
          // /*width: auto\9;
          // /* ie8+9 - use modernizr instead of this \9 hack */
          // /* lt ie8 */
          // -ms-interpolation-mode: bicubic;
          // /* optionally force a minimum size if img src size is known: */
          // /* min-height: 320px; /* max-height of .crop-height */
          // /* min-width: 480px; /* proportional to above */

          @media (max-width: 768px) {
            display: none;
          }

      }
      @media (max-width: 768px) {
          display:inline-block;;
          width:100%;
          float:left;
          clear: none;

      }
    }
  }
}

.trust {
  padding:20px 0px;
  padding-bottom:60px;
  h4 {
    width:100%;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $greigh-mid-dark;
  }
  ul {
    list-style-type: none;
    text-align:center;
    width: 100%;
    margin-top:40px;
    li {
      float: left;
      width:20%;
      @media (max-width: 768px) {
        width:50%;
      }
      img {
        width: 85%;
      }
    }
  }
}

.quote {
  background:#31708F;
  padding:20px 0px;
  padding-bottom:50px;
  color:$white;
  h4 {
    width:100%;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    color:$white;
    margin-top:30px;
    text-align: center;
    font-size: 2.75vw;
    line-height: 135%;
    @media (max-width: 768px) {
      font-size:200%;
    }
    span {
      font-size: 2.15vw;
      line-height: 150%;
      @media (max-width: 768px) {
        font-size:85%;
      }
    }
  }
}

.featured {
  padding:20px 0px;
  margin-bottom:60px;
  h4 {
    width:100%;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $greigh-mid-dark;
  }

  ul {
    list-style-type: none;
    text-align:center;
    width: 100%;
    margin-top:40px;
    li {
      float: left;
      width:33%;
      &:nth-child(1), &:nth-child(2) {
        border-right:1px solid $greigh-mid;
      }

      a {
        color:inherit;
        &:hover {
          cursor: pointer;
          text-decoration: none;
          color:inherit;
        }
      }
      img {
        width: 90%;
        margin-top:10px;
      }
      h5 {
        font-size: 1.55vw;
        font-weight:400;
        margin: 5px auto;
        padding: 5px;
        display: block;
        text-align: center;
        text-overflow: ellipsis;
        width:95%;
      	white-space: nowrap;
      	overflow: hidden;
      }
      p {
        font-size: 1.25vw;
        color:$greigh-mid;
      }
      &:hover {
        background: $yellow;
      }
    }
  }
}
