.navbar {
  background: #212670;
  border-bottom:1px solid #000;

  button {
    border: 1px solid white;
    background: #212670;
    span.icon-bar {
      background-color:white;
    }
  }
  li {
    color:$white;
    a,a:active{
      font-size: 18px;
      color:$white;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 1px solid #aaa;
        padding:10px auto;
      }

      &:hover {
        color:blue;
      }
    }
  }
  a.navbar-brand  {
      font-size: 18px;
      color:$white;
  }
}

.nav>li>a:hover, .nav>li>a:active {
    color: #212670;
}

.breadcrumb {
  padding:10px 15px;
  margin-bottom:0px;
  border-radius:0px;
  @media (max-width: 768px) {
    padding:5px 5px;
  }
  &.bottom{
    border-bottom:1px solid $greigh-mid;
    border-top:1px solid $greigh-mid;

  }
}
