.nav {
  color:$white;
  li {
    color:$white;
    a {
      font-size: 135%;
      color:$white;
      @media (max-width: 768px) {
        font-size: 150%;
        margin-bottom: 1px solid #aaa;
        padding:10px auto;
      }

      &:hover {
        color:blue;
      }
    }
  }

}
.breadcrumb {
  padding:10px 15px;
  margin-bottom:0px;
  border-radius:0px;
  &.bottom{
    border-bottom:1px solid $greigh-mid;
    border-top:1px solid $greigh-mid;

  }
}
