.nav {
  color:$white;
  li {
    color:$white;
    a {
      color:$white;
      &:hover {
        color:blue;
      }
    }
  }

}
.breadcrumb {
  padding:10px 15px;
  margin-bottom:0px;
  border-radius:0px;
  &.bottom{
    border-bottom:1px solid $greigh-mid;
    border-top:1px solid $greigh-mid;

  }
}
