body {
  margin-top: 50px;
}

.clearfix {
  @media (min-width: 768px) {
  clear:both;
  }
}

.sm-clearfix {
  @media (max-width: 768px) {
  clear:both;
  }
}

iframe {
  height:100vh;
  display:block;
}
