.carousel {
  margin-bottom:20px;
}
.carousel-fade {
    .carousel-inner {

        .item {
            margin-top:100px;
            transition-property: opacity;
            img, iframe, video {
              margin-left:auto;
              margin-right:auto;
              margin-bottom:20px;
            }
          video {
            border:1px solid #eee;
            &.loggly {
              border:none;
            }
          }

        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }

    }


    p {
      transition-property: opacity;
      display: block;
      width: 100%;
      font-size:105%;
      text-align: center;
      position: absolute;
      top:-75px;
      z-index: 20;
      color: $greigh-darker;
      @media (max-width: 768px) {
        font-size:12px;
        font-weight: bolder;
      }
    }

    .carousel-control {
        z-index: 2;
        background-image: none;
        margin-top:20px;
        opacity: 100;
        text-shadow: none;
        span {
          color:$greigh-darker;
          font-size:155%;
        }
    }
}

.carousel-indicators {
  top:70px;
  li {
    border-color: $greigh-darker;
  }
  .active {
    background-color:$greigh-darker;
  }
}


html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
}

.item:nth-child(1) {
    background: #fff;
}

.item:nth-child(2) {
    background: #fff;
}

.item:nth-child(3) {
    background: #fff;
}
