$white: #fff;
$black: #111;

$greigh-light: #f9f9f9;
$greigh-mid-light: #eee;
$greigh-mid: #ccc;
$greigh-mid-dark: #aaa;
$greigh-darker: #474747;

$green-dark: #3F5526;
$green-mid-dark: #44632B;
$green-mid: #637A3D;
$green-mid-light: #759845;
$green-bright: #97C459;
$green-light: #C0D0AA;
